{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block page_css %}
{% endblock %}

{% block content %}
<h1>EnviroMon Dashboard</h1>

<div class="card-deck pb-4 mt-1">
    <div class="card">
        <h2 class="card-header">Chart 1</h2>
        <div class="card-body">
            <canvas id="Device-Load"></canvas>
        </div>
    </div>
    <div class="card">
        <h2 class="card-header">Chart 2</h2>
        <div class="card-body">
            <canvas id="Temperature-Bar"></canvas>
        </div>
    </div>
</div>
<div class="card-deck pb-4">
    <div class="card">
        <h2 class="card-header">Chart 3</h2>
        <div class="card-body">
            <canvas id="Humidity-Bar"></canvas>
        </div>
    </div>

    <div class="card">
        <h2 class="card-header">Chart 4</h2>
        <div class="card-body">
            <canvas id="Pressure-Bar"></canvas>
        </div>
    </div>
</div>
{% endblock %}

{% block page_scripts %}
<script src="\static\vendor\js\Chart.bundle.js"></script>

<script src="\static\js\device-load.js"></script>
<script src="\static\js\temperature-bar.js"></script>
<script src="\static\js\humidity-bar.js"></script>
<script src="\static\js\pressure-bar.js"></script>

{% endblock %}